body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

}

.root-container {
    display: grid;
    place-items: center;
    place-content: center;
    row-gap: 2rem;

    height: 100vh;
    min-height: 30rem;
}

.headings-container {
    text-align: center;
}

h1 {
    color: #68bb59;
}

h2 {
    color: #68bb59;
}

.banner-img {
    width: 45rem;
    width: min(45rem, 80vw);
    height: 30rem;
}
