body {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    height: 100vh;
    color: slategrey;
}

.nav {
    padding-top: .5rem;
    padding-left: 1rem;
}

.logo {
    width: 5.5rem;
    height: 4rem;
}

.main {
    display: grid;
    place-items: center;
    place-content: center;
    row-gap: 2rem;

    min-height: 30rem;
}

.headings-container {
    text-align: center;
    display: grid;
    row-gap: 3rem;

}

.headings-container > * {
    margin: 0;
}

.banner-img {
    width: min(45rem, 80vw);

    outline: 2px solid salmon;
    height: 30rem;
}


.underlined {
    /*   background: red; */
      position: relative;

      color: hsl(130 80% 50%);
    }

    .underline-mask:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid hsl(280 80% 50%);
      /* border: 6px solid #356687; */
      /* Use a conic gradient mask to hide and show the bits you want */
      --spread: 140deg;
      --start: 290deg;
      mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
    }


    .underline-overflow {
      display: inline-block;
      /* A little extra padding and overflow hidden   */
      overflow: hidden;
      padding-bottom: clamp(1rem, 2vmin, 2rem);
    }
    .underline-overflow:after {
      content: '';
      position: absolute;
      top: 100%;
      height: 150%;
      aspect-ratio: 2.5 / 1;
      left: 50%;
      transform: translate(-50%, -10%);
      border-radius: 50%;
      border: 6px solid hsl(10 80% 50%);
    }

    .underline-clip:after {
      content: '';
      position: absolute;
      top: 95%;
      width: 150%;
      aspect-ratio: 3 / 1;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: 50%;
      border: 6px solid hsl(130 80% 50%);
      /* border: 6px solid #68bb59; */
      /* Use a clip-path to hide and show the bits you want */
      clip-path: polygon(0 0, 50% 50%, 100% 0);
    }
